#art-banner {
  font-weight: bold;
}

.art-title {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
}

.art-desc {
  color: #324d67;
  text-align: justify;
}

.art-tag {
  text-transform: capitalize;
  background-color: #dae2ec;
  color: #617d98;
  width: fit-content;
  padding: 0.1rem 0.5rem;
  border-radius: 0.3rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.08rem;
}

.art-date {
  font-weight: bold;
  text-transform: uppercase;
  color: #617d98;
}

.art-img {
  max-height: 15rem;
}

.art-card {
  height: 100%;
  transform: scale(0.94);
  transition: all 0.3s ease-out;
  border: 0;
  box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.1);
  background-color: #f1f5f8;

  &:hover {
    transform: scale(0.96);
    box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.3);
  }
}

.art-card-col {
  max-height: 30rem;
}

#btn-blog {
  width: fit-content;
  font-weight: 600;
  background-color: #2caeba;
  color: #bff8fd;
  letter-spacing: 0.1rem;
  box-shadow: none;
  transition: all 0.3s ease-out;
  border: 1px solid rgba(211, 211, 211, 0.5);
  box-shadow: 0px 0px 0.25rem rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  padding: 0.4rem 4.5rem;
  text-transform: uppercase;
  border-radius: 0.25rem;

  &:hover {
    background-color: #88ebf2;
    color: #044e53;
  }
}
